@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 커스텀 라디오 버튼 스타일 */
input[type="radio"].radio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 50%;
  background-color: #d1d5db;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
  flex-shrink: 0;
  align-self: center;
}

input[type="radio"].radio:hover {
  background-color: #9ca3af;
}

input[type="radio"].radio:checked {
  background-color: #d1d5db;
}

input[type="radio"].radio:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.54rem;
  height: 0.54rem;
  border-radius: 50%;
  background-color: #000000;
}
